# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/Users/alex/ACESO2/ACESO2.iml
/Users/alex/ACESO2/cell_displacements_individual.csv